* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    color: rgb(86, 85, 85);

}

h1 {
    font-family: cursive;
    color: rgb(112, 81, 99);
}
h2 { 
    font-family: cursive;
    color: rgb(112, 81, 99);
}
h3 {
    font-family: cursive;
    color: rgb(112, 81, 99);
}
body {
    background-color: #F8F0ED;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.verdetalle {
    line-height: 1.9;
    font-weight: bold;
    text-decoration: underline;
    color: #A85F89;
}

.precio {
    line-height: 2;
}

.crema {
    line-height: 1.2;
}

.padre1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    background-color: #B77A9C;
    border-radius: 20px;
}

.padre1 nav ul {
    display: flex;

}

.hola {
    margin: 10px;
}

.hola a {
    color: #FAF8F9;
}

.centro a {
    color: #FAF8F9;
    display: block;
    margin-bottom: 8px;
    font-size: 20px;
}

.productosmasvendidos {
    text-align: center;
}

.productosaleatorios {
    text-align: center;
}

.logo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.productos1 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.productos1 h2 {
    width: 100%;
}

.seccion {
    width: 100%;
    margin-left: 25px;
}

.seccionproductos {
    text-align: center;
}

.articuloproducto {
    width: 32%;
    margin: 5px;
    border: 1px solid #e5dadd;
    background-color: #fffafa;
    padding: 15px;
    text-align: left;
    border-radius: 12px;
}

.articuloproducto img {
    width: 50%;
    height: 200px;
}

.mainn {
    display: flex;
    margin: 10px;
    border-radius: 15px;
}

.asidee {
    width: 20%;
    background-color: #B77A9C;
    height: 800px;
    border-radius: 10px;
    padding: 20px;
}

.foot {
    margin: 0 30px;
    border-radius: 20%;
    border: 1px solid rgba(223, 200, 225, 0.474);
    background-color: rgba(223, 200, 225, 0.474);
    text-align: center;
}

.padree {
    width: 580px;
    padding: 4% 5%;
    background-color: rgba(223, 200, 225, 0.474);
    border-radius: 6px;
    display: block;
}


.tit {
    font-size: 18px;
    line-height: 1.5;
}

.ancho {
    width: 100%;
    padding: 6px;
    display: block;
}

.ob {
    font-size: 12px;
    color: rgb(169, 110, 143);
    line-height: 1.5;
}


.femenino {
    font-size: 16px;
    margin: 0% 1%;
}

.titulologin {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

.formslogin {
    padding: 90px;
    background-color: rgba(223, 200, 225, 0.474);
    width: 580px;
    text-align: left;
    border-radius: 8px;
}

.error {
    color: rgb(169, 110, 143);
    font-size: 10px;
    line-height: 1.7;
}

.botoningresar {
    padding: 10px;
    background-color: #A85F89;
    color: white;
    width: 160px;
    border-radius: 8px;
    margin-left: 0;
}
.botonregistrame{
    padding: 10px;
    background-color: #A85F89;
    color: white;
    width: 160px;
    border-radius: 8px;
    margin-left: 5px;
} 

.email1 {
    width: 400px;
    height: 32px;
}

.contrase1 {
    width: 400px;
    height: 32px;
}

.recordame {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.contenedorlogin {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.principio {
    font-size: 18px;
    line-height: 1.5;
}

.contenedordepadre {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 30px;
}

.detalle {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;

}

.detalleimagen {

    width: 40%;
}

.detallecontenido {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    justify-content: space-around;
    padding-bottom: 50px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;

}

.nombreproducto {
    font-size: 32px;
    margin-bottom: 50px;
}

.reviews {
    margin-left: 3%;
    margin-right: 3%;
}

.resenas {
    background-color: #F8F0ED;
    width: 100%;
}

.usuario {
    border-bottom: 2px solid #A85F89;
    padding: 5px;
    margin-bottom: 8px;
}

.formulario {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 15px;
}

.inputbuscar {
    width: 320px;
    height: 40px;
    padding: 0 15px;
    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    border-radius: 20px;
}

.botonbuscar {
    height: 40px;
    padding: 0 20px;
    border: none;
    background-color: #A85F89;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    border-radius: 20px;
}

.itemresena {
    margin-bottom: 25px;
    padding: 15px;
    background-color: #e5dadd;
    border-radius: 10px;
}

.marca {
    font-weight: bold;
    margin: 10px 0;
}

.descripcionproducto {
    line-height: 1.4;
    margin: 15px 0;
}

.infoproducto {
    color: rgb(169, 110, 143);
    font-size: 14px;
    margin-top: 5px;
}

.tags {
    color: #A85F89;
    font-style: italic;
    margin-top: 15px;
}

.cuenta{
    line-height: 2;
}

@media (max-width: 768px) {
    .padre1 {
        flex-direction: column;
    }

    .logo {
        width: 150px;
        height: 150px;
    }

    .mainn {
        flex-direction: column;
    }

    .asidee {
        width: 100%;
    }

    .seccion {
        width: 100%;
        margin-left: 0;
    }

    .articuloproducto {
        width: 48%;
    }

    .articuloproducto img {
        width: 80%;
    }

    .formslogin {
        width: 80%;
        padding: 30px;

    }

    .padree {
        width: 100%;
    }

    .email1 {
        width: 100%;
    }

    .contrase1 {
        width: 100%;
    }

    .detalle {
        flex-direction: column;
        margin-left: 0;
    }

    .detalleimagen {
        width: 60%;
    }

    .detallecontenido {
        width: 80%;
        margin-left: 0;
    }
}

@media (max-width: 420px) {
    .padre1 {
        flex-direction: column;
    }

    .logo {
        width: 150px;
        height: 150px;
    }

    .mainn {
        flex-direction: column;
    }

    .asidee {
        width: 100%;
    }

    .seccion {
        width: 100%;
    }

    .articuloproducto {
        width: 100%;
        margin: 5px 0;
    }

    .articuloproducto img {
        width: 80%;
    }

    .formslogin {
        width: 90%;
        padding: 20px;
    }

    .padree {
        width: 100%;
        padding: 30px;
    }

    .email1 {
        width: 100%;
    }

    .contrase1 {
        width: 100%;
    }

    .botoningresar {
        margin-left: 0;
    }

    .detalleimagen {
        width: 90%;
    }

    .detallecontenido {
        width: 90%;
        margin-left: 30px;
    }
}