* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    color: rgb(86, 85, 85);

}

h1,
h2,
h3 {
    font-family: cursive;
    color:  rgb(112, 81, 99);
}

body {
    background-color: #F8F0ED;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.verdetalle {
    line-height: 1.9;
    font-weight: bold;
    text-decoration: underline;
    color: rgb(213, 100, 100);
}

.precio {
    line-height: 2;
}

.crema{
    line-height: 1.2;
}

.padre1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
}

.padre1 nav ul {
    display: flex;

}

.hola {
    margin: 10px;
    2
}

.logo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.productos1 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.productos1 h2 {
    width: 100%;
}

.seccion {
    width: 70%;
}

.articuloproducto {
    width: 47%;
    margin: 1%;
    box-sizing: border-box;
    border: 1px solid #DEDAD1;
    padding: 12px;
}

.articuloproducto img {
    width: 50%;
    height: 200px;
}

.mainn {
    display: flex;
}

.asidee {
    margin: 0 30px;
    width: 30%;
}

.foot {
    margin: 0 30px;
    border-radius: 20%;
    border: 1px solid rgba(223, 200, 225, 0.474);
    background-color: rgba(223, 200, 225, 0.474);
    text-align: center;
}

.padree {
    width: 580px;
    margin: 0 auto;
    padding: 4% 5%;
    background-color: rgba(223, 200, 225, 0.474);
    border-radius: 6px;
    display: block;
}


.tit {
    font-size: large;
    line-height: 1.5;
}

.ancho {
    width: 100%;
    padding: 6px;
    display: block;
}

.ob {
    font-size: 12px;
    color: rgb(169, 110, 143);
    line-height: 1.5;
}


.femenino {
    font-size: medium;
    margin: 0% 1%;
}

